<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>사용자 리스트 화면</title>
        <style>
        table {border:1px solid black;border-collapse:collapse}
        td {border:1px solid black;padding:10px;}
        </style>
    </head>
    <body>
        <h1>사용자 리스트</h1>
        <br>
            <table>
                <tr>
                    <td>번호</td><td>아이디</td><td>이름</td><td>나이</td>
                </tr>
                <% if(userList != null && userList.length>0){ %>
                    <% for(var i=0; i<userList.length; i++){ %>
                        <tr>
                            <td><%= i %></td>
                            <td><a href="/process_form/updateuser?id=<%= userList[i].id %>"><%= userList[i].id %></a></td>
                            <td><%= userList[i].name %></td>
                            <td><%= userList[i].age %></td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="4">조회된 데이터가 없습니다.</td>
                    </tr>
                <% } %>
            </table>
            <br>
            <input type="button" value="사용자등록" id="btnAddUser">
            <input type="button" value="로그인" id="btnLogin">
            <script>
                var btnAddUser = document.getElementById('btnAddUser');
                var btnLogin = document.getElementById('btnLogin');
                btnAddUser.onclick = function(){
                    location.replace('/public/adduser.html');
                }
                btnLogin.onclick = function(){
                    location.replace('/public/login.html');
                }
            </script>
    </body>
</html>